{% extends 'base-menu.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <!-- Detail -->
        <div class="row">
            <div class="col-md-5 mt">
                <div class="content-panel">
                    <div class="container profile-text">
                        <h3 class="text-left">Deliver To <span class="text-info">European</span></h3>
                    <form role="form" action="{% url 'inquire-euro' %}" method="post">
                        {% csrf_token %}
                            <div class="form-group form-inline " class="col-md-3">
                                <label for="length">&nbsp;Length(CM)</label>
                                <input type="text" class="form-control " id="length"
                                       name="length"  placeholder="Length input"
                                        value="{{ quote_euro_form.data.length }}">
                                <span class="text-danger">
                                    {{ quote_euro_form.errors.length.0 }}
                                </span>
                            </div>
                            <div class="form-group form-inline" class="col-md-3">
                                <label for="width">&nbsp;&nbsp;&nbsp;Width(CM)</label>
                                <input type="text" class="form-control" id="width" name="width"
                                       placeholder="Width input" value="{{ quote_euro_form.data.width }}">
                                <span class="text-danger">
                                    {{ quote_euro_form.errors.width.0 }}
                                </span>
                            </div>
                            <div class="form-group form-inline" class="col-md-3">
                                <label for="high">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;High(CM)</label>
                                <input type="text" class="form-control" id="high" name="high"
                                       placeholder="High input" value="{{ quote_euro_form.data.high }}">
                                <span class="text-danger">
                                    {{ quote_euro_form.errors.high.0 }}
                                </span>
                            </div>
                            <div class="form-group form-inline" class="col-md-3">
                                <label for="weight">&nbsp;&nbsp;Weight(KG)</label>
                                <input type="text" class="form-control " id="weight" name="weight"
                                       placeholder="Weight input" value="{{ quote_euro_form.data.weight }}">
                                <span class="text-danger">
                                    {{ quote_euro_form.errors.weight.0 }}
                                </span>
                            </div>
                            <div class="form-group form-inline" class="col-md-3">
                                <label for="quantity">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity</label>
                                <input type="text" class="form-control " id="quantity" name="qty" placeholder="Quantify input"
                                       value="{% if quote_euro_form.data.qty == isnull %}1{% else %}{{ quote_euro_form.data.qty }}{% endif %}">
                                <span class="text-danger">
                                    {{ quote_euro_form.errors.qty.0 }}
                                </span>
                            </div>
                            <div class="form-group form-inline" class="col-md-3">
                                <label for="postcode">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Country</label>
                                    <select name = "euro" class="form-control">
                                        {% for country in all_euro %}
                                            <option>{{ country.country }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                            <div class="form-group form-inline" class="col-md-4">
                                <label for="postcode">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Address Type&nbsp;&nbsp;</label>
                                <input type="radio" class="form-check-input" id="radio_business" name="addresstype" value="business" checked>
                                <label class="form-check-label" for="InboundRadios">&nbsp;Business&nbsp;&nbsp;</label>
                                <input type="radio" class="form-check-input" id="radio_resident" name="addresstype" VALUE="resident" >
                                <label class="form-check-label" for="OutboundRadios">&nbsp;Resident</label>
                            </div>
                            <div class="col-md-5 mt">
                                <input type="submit" class="btn btn-info" value="Quote">
                            </div>
                        </form>
                    </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
