{% extends 'base-menu.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
    <div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i> User Profiles</h4>
            <hr>
            <div class=" form">
                <form class="cmxform form-horizontal style-form" id="commentForm" method="post" action="">
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-1">Email: </label>
                        <div class="col-lg-3">
                            <input class=" form-control " id="cname" name="username" minlength="2" value="{{ object.email }}" type="text" readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cname" class="control-label col-lg-1">User Name</label>
                        <div class="col-lg-2">
                          <input class=" form-control" id="cname" name="username" minlength="2" value="{{ object.username }}" type="text" readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cemail" class="control-label col-lg-1">First Name</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="first_name" name="first_name"  value="{{ object.first_name }}" readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cemail" class="control-label col-lg-1">Last Name</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="last_name"  name="last_name"  value="{{ object.last_name }}" readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="curl" class="control-label col-lg-1">Telephone</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="telephone" name="telephone" value="{{ object.profile.telephone }}" readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="curl" class="control-label col-lg-1">Favorite Company</label>
                        <div class="col-lg-2">
                              <input class="form-control " id="status" name="status"
                                 value="{{ object.profile.favorite_company }}"
                                 readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="curl" class="control-label col-lg-1">Join Date</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="join_date" name="join_date" value="{{ object.date_joined }}" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <a href="{% url 'users:my_profile_update' object.id %}" class="btn btn-primary col-lg-1" type="button"
                               style="float:left; margin-left: 20px">Edit Profiles</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form-panel -->
    </div>
    </div>
    </div>
{% endblock %}
