{% extends 'warehouse_base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
    <div class="col-lg-12">
        <form class="cmxform form-horizontal style-form" id="reset_password" method="post" action="{% url 'users:slot_user_change_password' request.user.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label class="h3 control-label text-info  col-sm-offset-1">Change User Password</label>
            </div>
            <div class="form-group ">
                <label for="username" class="control-label col-lg-1">User Name</label>
                <div class="col-lg-2">
                  <input class=" form-control" id="username" name="username" minlength="4"  type="text"
                         value="{{ user.username }}" readonly />
                </div>
                <label for="email" class="control-label col-lg-1">User Email: </label>
                <div class="col-lg-2">
                    <input class=" form-control " id="email" name="email" minlength="2" type="email"
                           value="{{ user.email }}" readonly />
                </div>
            </div>
            <hr>
            {% if request.user.username == user.username %}
                <div class="form-group ">
                    <label for="email" class="control-label col-lg-1">Old Password: </label>
                    <div class="col-lg-2">
                        <input class=" form-control " id="old_password" name="old_password" type="password"  minlength="8" maxlength="128"
                               value="{{ old_password }}" placeholder="Input old password"  required />
                    </div>
                    <div class="col-lg-2">
                        {% if message %}
                           <label class="control-label text-danger">{{ message }}</label>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="form-group ">
                <label for="email" class="control-label col-lg-1">New Password: </label>
                <div class="col-lg-2">
                    <input class=" form-control " id="password" name="password" type="password"  minlength="8" maxlength="128"
                           value="{{ password }}"   placeholder="Input new password"  required />
                </div>
                <div class="col-lg-2">
                    {% if change_pwd_form.errors %}
                       <label class="control-label text-danger">{{ change_pwd_form.errors.password.0 }}</label>
                    {% endif %}
                </div>
            </div>
            <div class="form-group ">
                <label for="email" class="control-label col-lg-1">Re-New Password: </label>
                <div class="col-lg-2">
                    <input class=" form-control " id="re_password" name="re_password" type="password"  minlength="8" maxlength="128"
                           value="{{ re_password }}" placeholder="confirm new password"  required />
                </div>
                <div class="col-lg-2">
                    {% if change_pwd_form.errors %}
                       <label class="control-label text-danger">{{ change_pwd_form.errors.re_password.0 }}</label>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="col-lg-offset-1">
                    <button class="btn btn-primary col-lg-1" type="submit"
                            {% if request.user.username == user.username %} onclick="return ConfirmSave();"{% endif %}
                            style="float:left; margin-left: 0px">Save</button>

{#                    <button class="btn btn-primary col-lg-1" type="submit"  id="confirm"#}
{#                            style="float:left; margin-left: 0px">Save-1</button>#}
{#                    <button class="btn btn-primary col-lg-1" type="submit" id="buttonA"#}
{#                            style="float:left; margin-left: 0px">Save</button>#}
                    <a href="{% url 'users:slot_user_profile' user.id %}" class="btn btn-danger col-lg-1" type="button"
                       style="float:left; margin-left: 20px">Cancel</a>
                </div>
            </div>


        </form>
        {% if request.user.username == user.username %}
            <div class="form-group ">
                <div class="col-lg-12">
                <h4 for="email" class="text-danger ">Notice: if you change password successful, you will be forced to re-login. </h4>
                </div>
            </div>
        {% endif %}
        </div>
    <!-- /form-panel -->
    </div>

{% endblock %}
{% block myscript %}
    <script type="text/javascript">
		function ConfirmSave()
		{
		     if(confirm("Update password, You will be force to login again ?"))
		     {
		         return true;
		     }else{
		         return false;
			 }
		}
    </script>
{% endblock %}