{% extends 'base-menu.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
    <div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Reset User Password - <span class="text-success">Save Successful</span></h4>
            <hr>
            <div class=" form">
                <form class="cmxform form-horizontal style-form" id="reset_password" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group ">
                        <label for="email" class="control-label col-lg-1">User Email: </label>
                        <div class="col-lg-3">
                            <input class=" form-control " id="email" name="email" minlength="2" type="email"
                                   value="{{ user.email }}" readonly />
                        </div>
                        <label for="username" class="control-label col-lg-1">User Name</label>
                        <div class="col-lg-2">
                          <input class=" form-control" id="username" name="username" minlength="4"  type="text"
                                 value="{{ user.username }}" readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="first_name" class="control-label col-lg-1">First Name</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="first_name" name="first_name" value="{{ user.first_name }}" readonly />
                        </div>
                        <label for="last_name" class="control-label col-lg-1">Last Name</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="last_name"  name="last_name" value="{{ user.last_name }}" readonly />
                        </div>
                        <label for="telephone" class="control-label col-lg-1">Telephone</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="telephone" name="telephone" value="{{ user.profile.telephone }}" readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="role" class="control-label col-lg-1">Role</label>
                        <div class="col-lg-1">
                            <input class="form-control col-lg-2" id="role"  name="role" type="text"
                                    value="{% if user.profile.role_id == 2 %}User{% else %}Admin{% endif %}" readonly >
                        </div>
                    </div>
                    <hr>
                    <div class="form-group ">
                        <label for="email" class="control-label col-lg-1">Password: </label>
                        <div class="col-lg-2">
                            <input class=" form-control " id="password" name="password" minlength="2" type="password"
                                   value="{{ password }}" readonly />
                            {% if reset_pwd_form.errors %}
                               <label class="control-label text-danger">{{ reset_pwd_form.errors.password.0 }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group ">
                        <h3 for="email" class="text-success col-lg-12">Save successful, User have been set a new password. </h3>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <a href="{% url 'users:edit_quote_user' user.id %}" class="btn btn-primary " type="button">Back User Profit</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form-panel -->
    </div>
    </div>
    </div>
{% endblock %}
