{% extends 'base-menu.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
    <div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
            <h4><i class="fa fa-angle-right"></i>&nbsp;&nbsp;Change Password</h4>
            <hr>
            <div class=" form">
                <form class="cmxform form-horizontal style-form" id="reset_password" method="post" action="{% url 'users:change_password' request.user.id %}">
                    {% csrf_token %}
                    <div class="form-group ">
                        <label for="email" class="control-label col-lg-1">User Email: </label>
                        <div class="col-lg-3">
                            <input class=" form-control " id="email" name="email" minlength="2" type="email"
                                   value="{{ user.email }}" readonly />
                        </div>
                        <label for="username" class="control-label col-lg-1">User Name</label>
                        <div class="col-lg-2">
                          <input class=" form-control" id="username" name="username" minlength="4" maxlength="20" type="text"
                                 value="{{ user.username }}" readonly />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="first_name" class="control-label col-lg-1">First Name</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="first_name" name="first_name" value="{{ user.first_name }}" readonly />
                        </div>
                        <label for="last_name" class="control-label col-lg-1">Last Name</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="last_name"  name="last_name" value="{{ user.last_name }}" readonly />
                        </div>
                        <label for="telephone" class="control-label col-lg-1">Telephone</label>
                        <div class="col-lg-2">
                            <input class="form-control " id="telephone" name="telephone" value="{{ user.profile.telephone }}" readonly />
                        </div>
                    </div>
                    <hr>
                    <div class="form-group ">
                        <label for="email" class="control-label col-lg-1">Old Password: </label>
                        <div class="col-lg-2">
                            <input class=" form-control " id="old_password" name="old_password" minlength="8" maxlength="128" type="password"
                                   value="{{ old_password }}" placeholder="Input old password"  required />
                        </div>
                        <div class="col-lg-6">
                            {% if message %}
                               <label class="control-label text-danger">{{ message }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="email" class="control-label col-lg-1">Password: </label>
                        <div class="col-lg-2">
                            <input class=" form-control " id="password" name="password" type="password"  minlength="8" maxlength="20"
                                   value="{{ password }}" placeholder="Input new password"  required />
                        </div>
                        <div class="col-lg-6">
                            {% if change_pwd_form.errors %}
                               <label class="control-label text-danger">{{ change_pwd_form.errors.password.0 }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="email" class="control-label col-lg-1">Re-Password: </label>
                        <div class="col-lg-2">
                            <input class=" form-control " id="re_password" name="re_password" type="password" minlength="8" maxlength="20"
                                   value="{{ re_password }}" placeholder="Confirm new password"  required />
                        </div>
                        <div class="col-lg-6">
                            {% if change_pwd_form.errors %}
                               <label class="control-label text-danger">{{ change_pwd_form.errors.re_password.0 }}</label>
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-lg-offset-1">
                            <button class="btn btn-primary col-lg-1" type="submit" onclick="return ConfirmSave();"
                                    style="float:left; margin-left: 0px">Save</button>
                            <a href="{% url 'users:my_profile_update' user.id %}" class="btn btn-danger col-lg-1" type="button"  style="float:left; margin-left: 20px">Cancel</a>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-lg-12">
                        <h4 for="email" class="text-danger ">Notice: if you have changed your password successful, you will be forced to re-login. </h4>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /form-panel -->
    </div>
    </div>
    </div>
{% endblock %}
{% block  myscript %}
    <script type="text/javascript">
		function ConfirmSave()
		{
		     if(confirm("Update password, You will be force to login again ?"))
		     {
		         return true;
		     }else{
		         return false;
			 }
		}
    </script>
{% endblock %}