{% extends 'mi_base.html' %}
{% load static %}
{% block new_content %}
    <div class="form-panel col-lg-5">
        <table class="table table-bordered table-striped " >
            <thead>
                <tr >
                    <th colspan="4" class="text-center list-group-item-warning " style="font-size:18px;">
                        Reference - Handle Fee Price List
                    </th>
                </tr>
                <tr >
                    <th class="text-center list-group-item-info">
                        Item Description
                    </th>
                    <th class="text-center list-group-item-info">
                        Min weight
                    </th>
                    <th class="text-center list-group-item-info">
                        Max weight
                    </th>
                    <th class="text-center list-group-item-info">
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for record in object_list %}
                    <tr>
                        {% if record.item_desc != "" %}
                            <td class="text-left">{{ record.item }} - {{ record.item_desc }}</td>
                        {% else %}
                            <td class="text-left">{{ record.item }}</td>
                        {% endif %}
                        <td class="text-right">{{ record.min_weight }}</td>
                        <td class="text-right">£{{ record.max_weight }}</td>
                        <td class="text-right">£{{ record.unit_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
