{% extends 'mi_base.html' %}
{% load static %}
{% block new_content %}
    <div class="panel">
        <table class="table table-striped table-hover">
            <h4>&nbsp;<i class="fa fa-angle-right"></i> Xiaomi Bill Detail List </h4>
            <hr>
                <form role="search" action="" method="get">
                    {% csrf_token %}
                    <div class="form-group form-inline ">
                        <label for="mi_code" class="control-label text-left">&nbsp;Mi-Code : </label>
                        <input type="text" class="form-control" id="mi_code" name="mi_code"
                               value="{{ mi_code }}" placeholder="Mi code" style="margin-right: 10px">
                        <label for="ups_code">&nbsp;Express-Code </label>
                        <input type="text" class="form-control " id="ups_code" name="ups_code"
                               value="{{ ups_code }}" placeholder="UPS Code" style="margin-right: 10px">
                        <label for="express_company">&nbsp;Express_Company </label>
                        <select class="form-control" type="text" id="express_company" name="express_company" style="margin-right: 10px">
                            <option value='ALL' {% if express_company == "ALL" %}selected{% endif %}>All</option>
                            <option value='UPS' {% if express_company == "UPS" %}selected{% endif %}>UPS</option>
                            <option value='DPD' {% if express_company == "DPD" %}selected{% endif %}>DPD</option>
                        </select>
                        <label for="postcode">&nbsp;Postcode </label>
                        <input type="text" class="form-control " id="postcode" name="postcode"
                               value="{{ postcode }}" placeholder="Postcode" style="margin-right: 10px">
                        <label for="is_delivery_checked">&nbsp;Is Calc Delivery Fee </label>
                        <select class="form-control" type="text" id="is_delivery_checked" name="is_delivery_checked" style="margin-right: 10px">
                            <option value=-1 {% if is_delivery_checked == -1 %}selected{% endif %}>All</option>
                            <option value=1 {% if is_delivery_checked == 1 %}selected{% endif %}>True</option>
                            <option value=0 {% if is_delivery_checked == 0 %}selected{% endif %}>False</option>
                        </select>
                        <input type="submit" class="btn btn-primary" value="Search" style="margin-right: 10px">
                        <a class="btn btn-warning" href="{% url 'xiaomi:mi_bill_list_detail' bill_year bill_month %}" >Reset</a>
                        <a href="{% url 'xiaomi:mi_bill_list_main' %}" class="pull-right btn btn-danger"
                           role="button" style="margin-right: 30px">Back
                        </a>
                    </div>
                </form>
            <thead>
            <tr>
                <th class="text-left">Bill Date</th>
                <th class="text-left">Mi-Code</th>
                <th class="text-left">Express-Code</th>
                <th class="text-left">Express-Company</th>
                <th class="text-left">Delivery-Datetime</th>
                <th class="text-left">Finished-Datetime</th>
                <th class="text-left">Postcode</th>
                <th class="text-right">Total Qty.</th>
                <th class="text-right">Total Weight</th>
                <th class="text-right">Is Calc Delivery Fee</th>
                <th class="text-left">DCG Bill Date</th>
            </tr>
            </thead>
            <tbody>
            {% for this_bill in object_list %}
            <tr>
                <td>
                    {% if this_bill.bill_month < 10 %}
                        {{ this_bill.bill_year }}-0{{ this_bill.bill_month }}
                    {% else %}
                        {{ this_bill.bill_year }}-{{ this_bill.bill_month }}
                    {% endif %}
                </td>
                <td>{{ this_bill.mi_code }}</td>
                <td>{{ this_bill.parcel_id }}</td>
                <td>{{ this_bill.express_company }}</td>
                <td>{{ this_bill.delivery_datetime }}</td>
                <td>{{ this_bill.finished_datetime }}</td>
                <td>{{ this_bill.postcode }}</td>
                <td class="text-right">{{ this_bill.total_qty }}</td>
                <td class="text-right">{{ this_bill.weight }}</td>
                <td class="text-right">{{ this_bill.delivery_fee_checked }}</td>
                {% if this_bill.delivery_fee_checked == 1 %}
                <td>
                    {% if this_bill.update_bill_month < 10 %}
                        {{ this_bill.update_bill_year }}-0{{ this_bill.update_bill_month }}
                    {% else %}
                        {{ this_bill.update_bill_year }}-{{ this_bill.update_bill_month }}
                    {% endif %}
                </td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
            <tr></tr>
        </table>
        <div class="pagination pagination-lg">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1"><span class="page-first">&laquo; first</span></a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
