{% extends 'lcl_base.html' %}
{% load static %}
{% block new_content %}
      <div class="container-fluid panel">
        <table class="table table-striped table-hover" id="company-table">
            <br>
                <form role="search" action="" method="get">
                    {% csrf_token %}
                    <div class="form-group form-inline ">
                        <label for="email" class="control-label ">&nbsp;Code&nbsp&nbsp&nbsp </label>
                        <input type="text" class="form-control" id="company_code" name="company_code"
                               value="{{ company_code }}" placeholder="company_code" style="margin-right: 10px">
                        <label for="email" class="control-label ">&nbsp;Name&nbsp&nbsp&nbsp </label>
                        <input type="text" class="form-control" id="company_name" name="company_name"
                               value="{{ company_name }}" placeholder="company name" style="margin-right: 10px">
                        <label for="email" class="control-label ">&nbsp;Status&nbsp&nbsp&nbsp </label>
                        <select name = "status" class="form-control" style="margin-right: 20px">
                        <option value=-1 selected>All</option>
                        <option value=1 {% if status == 1 %}selected{% endif %}>OK</option>
                        <option value=0 {% if status == 0 %}selected{% endif %}>Suspend</option>
                        </select>
                        <input type="submit" id="btn_search" class="btn btn-primary" value="Search" style="margin-right: 20px">
                        <a class="btn btn-warning" href="{% url 'lcl:company_list' %}">Reset</a>
                        <button type="button" class="pull-right btn btn-success js_create_company"
                                href="">Add New Company</button>
                    </div>
                </form>
            <thead>
            <tr>
                <th class="text-left">Code</th>
                <th class="text-left">Name</th>
                <th class="text-left">Telephone</th>
                <th class="text-left">Email</th>
                <th class="text-left">Contact</th>
                <th class="text-left">Remark</th>
                <th class="text-left">Status</th>
                <th class="text-left">Update Datetime</th>
                <th class="text-left">Operator</th>
                <th class="text-left"></th>
            </tr>
            </thead>
            <tbody>
                {% include 'company/partial_company_list.html' %}
            </tbody>
        </table>
        <div class="pagination pagination-lg">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1"><span class="page-first">&laquo; first</span></a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <!-- Modal Begin Add Company -->
        <div class="modal fade" id="myModal-company" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">

                </div>
            </div>
        </div>
      </div>
{% endblock %}
{% block myscript %}
    <script src="{% static 'js/warehouse/lcl/lcl_main.js' %} " defer></script>
{% endblock %}
