<div class="form">
    <form class="form-horizontal js-fuel-update-form" id="update_company_form"
          method="post" action="{% url 'lcl:fuel_surcharge_update' form.instance.company_code_id form.instance.begin_date %}">
        <div class="modal-header">
            <button id="add_new_Company" type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update Fuel Surcharge Rate</h4>
        </div>
        <br>
        <div class="modal-body">
            {% include 'fuel_surcharge/lcl_fuel_surcharge_form.html' %}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-left" >Update Fuel Surcharge</button>
            <button type="button" id="btn-cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>
