{% extends 'base-menu.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <!-- Detail -->
        <div class="content-panel">
            <div class="row">
                <div class="col-md-12 mt">
                    <div class="container profile-text">
                        <h3>Deliver To <span class="text-info">Unite Kingdom </span></h3>
                        <hr>
                        <form role="form" action="{% url 'sku:sku-update' object.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group form-inline">
                                <h4 for="length">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SKU NO. :
                                <input type="text" class="form-control" id="sku_no" name="sku_no" value="{{ object.sku_no }}" placeholder="sku no"></h4>
                            </div>
                            <div class="form-group form-inline " class="col-md-3">
                                <h4 for="length">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product :
                                <input type="text" class="form-control" id="sku_name" name="sku_no" value="{{ object.sku_name }}" placeholder="product"></h4>
                            </div>
                            <div class="form-group form-inline " class="col-md-3">
                                <h4 for="length" name="length">&nbsp;Length(CM): <input type="text" class="form-control"  id="length"  name="length"  value="{{ object.sku_length }}"></h4>
                            </div>
                            <div class="form-group form-inline" class="col-md-3">
                                <h4 for="width">&nbsp;&nbsp;&nbsp;Width(CM): <input type="text" class="form-control"  id="width"  name="width"  value="{{ object.sku_width }}"></h4>
                            </div>
                            <div class="form-group form-inline" class="col-md-3">
                                <h4 for="high">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;High(CM): <input type="text" class="form-control"  id="high" name="high"  value="{{ object.sku_high }}"></h4>
                            </div>
                            <div class="form-group form-inline" class="col-md-3">
                                <h4 for="weight">&nbsp;&nbsp;Weight(KG): <input type="text" class="form-control"  id="weight"  name="weigh"  value="{{ object.sku_weight}}"></h4>
                            </div>
                            <div class="form-group form-inline" class="col-md-3">
                                <h4 for="weight">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Status:
                                <select name = "status" class="form-control">
                                <option value="1" {% if object.is_ok == 1 %}selected{% endif %}>OK</option>
                                <option value="0" {% if object.is_ok == 0 %}selected{% endif %}>Suspend</option>
                                </select></h4>
                            </div>
                            <div class="panel-body">
                                <a href="{% url 'sku:sku-list' %}"  class="btn btn-info" role="button"> Go Back </a>
                                <input type="submit" class="btn btn-primary" value="  Update  ">
                            </div>
                        </form>
                    </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
