{% extends 'warehouse_base.html' %}
{% load static %}
{% block content %}
    <div class="container">
      <h2>Delivery Reference Detail</h2>
        <div>
            <table class="table table-condensed">
        <tbody>
          <tr>
            <td class="col-lg-2">Delivery Ref.</td>
            <td>{{ object.deliveryref }}</td>
          <tr>
            <td>IN/OUTBOUND</td>
            <td>{{ object.status }}</td>
          </tr>
          <tr>
            <td>Vehicle Reg.</td>
            <td>{{ object.vehiclereg }}</td>
          </tr>
          <tr>
            <td>Haulier</td>
            <td>{{ object.hailerid }}</td>
          </tr>
          <tr>
            <td>Operator</td>
            <td>{{ request.user.username }}
                &nbsp;&nbsp;{{ object.op_datetime|date:"j-m-Y H:i" }}
                &nbsp;&nbsp;Tel: {{ object.op_telephone }}
                &nbsp;&nbsp;Email: {{ object.op_email }}
            </td>
          </tr>
          <tr>
            <td>Delivery DateTime</td>
            <td>
                {% if object.havetime == 1 %}
                    {{ object.workdate|date:"j-m-Y" }}&nbsp;
                    {{ object.slottime|time:"H:i"}}
                {% else %}
                    <span class="alert-danger well-sm"> Haven't slot time</span>
                {% endif %}
            </td>
          </tr>
          <tr>
            <td>Status</td>
            <td>
             {% if object.progress == 1 %}
                <span>Booked</span>
             {% endif %}
             {% if object.progress == 2 %}
                <span class="alert-danger well-sm">Abnormal</span>
             {% endif %}
             {% if object.progress == 3 %}
                <span class="alert-info well-sm">Arrived</span>
             {% endif %}
             {% if object.progress == 4 %}
                <span class="alert-warning well-sm">Loading</span>
             {% endif %}
             {% if object.progress == 5 %}
                <span class="alert-success well-sm">Finished</span>
                {% endif %}
            <td>
          </tr>
          <tr>
            <td>Remark</td>
             <td>{{ object.remark }}</td>
          </tr>
          <tr>
              <td></td>
              <td></td>
          </tr>
        </tbody>
      </table>
        </div>
    </div>
    <div class="container">
        <!-- 如何是状态还是Booked, 则可以更改时间或做删除操作 -->
        {% if object.progress != 4 %}
            <form action="{% url 'slot:slot_update' %}" method="post" >
                {% csrf_token %}
                <input type="hidden" name="deliveryref" value="{{ object.deliveryref }}">
                {% if object.op_role == 1 or object.op_role == 3 %}
                <div class="form-group" >
                    <input type="checkbox" class="form-check-input" name="new_haveTime" value="1">
                    <label class="form-check-label" for="NotHaveSlotTime">&nbspHaven't Slot Time</label>
                </div>
                <div class="form-group col-sm-2">
                        <label>Date</label>
                        <input type="date" class="form-control" name="workdate" id="PickingDate" max="2025-12-31"
                               min="2020-08-01" value="{{ object.workdate|date:"d-m-Y" }}">
                </div>
                <div class="form-group col-sm-2">
                    <label>&nbsp;Time</label>
                        <input type="time" class="form-control" name="slottime" id="PickingTime" max="20:30" min="06:00"   value = "{{ object.slottime|time:"H:i"}}" required>
                </div>
                    <div class="form-group col-sm-2">
                        <label>&nbsp;Status</label>
                        <select name = "progress" class="form-control">
                            <option value="1">Booked</option>
                            <option value="2">Arrived</option>
                            <option value="3">Loading</option>
                            <option value="4">Finished</option>
                            <option value="5">Abnormal</option>
                        </select>
                    </div>
                {% endif %}
<!--                {% if object.op_role == 2 or object.op_role == 3 %} -->
<!--                {% endif %} -->
                <div class="form-group">
                    <input type="text" class="form-control" id="remark" value="{{ object.remark }}" placeholder="Remark">
                </div>
                <div class="panel-footer text-left">
                  <div class="panel-body">
                    <a href="{% url 'slot:slot_list' %}" class="btn btn-default" role="button">Back</a>
                    <input class="form-inline btn btn-info" type="submit" value="Update">`
                    <a href="{% url 'slot:slot_delete' object.id %}" class="pull-right btn btn-danger" role="button">Delete</a>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="panel-footer text-left">
              <div class="panel-body">
                <a href="{% url 'slot:slot_list' %}" class="btn btn-default" role="button">Back</a>
              </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block  myscript %}
   <script>

    $(document).ready(function () {
        var time = new Date();
        var day = ("0" + time.getDate()).slice(-2);
        var month = ("0" + (time.getMonth() + 1)).slice(-2);
        var today = time.getFullYear() + "-" + (month) + "-" + (day);
        $('#PickingDate').val(today);
    })

    </script>
{% endblock %}

