{% extends 'warehouse_base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <table class="table table-condensed">
        <td>
        <h2><span class="text-success" >Congratulations! Save Success. ====================== {{ searching_date }}</span> </h2>
        <div class="panel-footer text-left">
          <div class="panel-body">
            <a href="{% url 'slot:slot_list' %} " class="btn btn-primary" role="button">Back</a>
          </div>
        </div>
        </td>
    </table>
    </div>
    <br>
{% endblock %}