{% extends 'warehouse_base.html' %}

{% load static %}

{% block search %}
<!--  搜索框 -->
<div class="row">
    <table class="table">
        <td>&nbsp;&nbsp;User: <a href ="">{{ request.user }}</a>&nbsp-&nbsp<a href="{% url 'users:logout' %}">Logout</a></td>
        <td>
            <div>
                <!-- Searching date -->
                <div class="col-md-6">
                    <form role="form" action="{% url 'slot:slot_list' %}" method="get" >
                        <div class="form-group">
                            <div class="controls input-append date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <label class="form-inline">Searching Date
                                <input type="date" name="searching_date" value="{{ search_date }}" id="SearchingDate" max="3000-12-31" min="2020-08-01" class="form-control">
                                </label>
                                <button type="submit" class="btn btn-primary">Searching Date</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </table>
</div>
{% endblock %}
{% block content %}
    <!--  主页面 -->
    <div class="row">
        <!-- 左侧的输入框 -->
        <div class="col-md-3">
            <form role="form" action="{% url 'slot:slot_list' %}" method="post" >
                {% csrf_token %}
                <div class="form-group" >
                    <label class="form-inline">
                        Haulier :
                        <select name = "hailer" class="form-control">
                            {% for hailer in all_Hailers %}
                                <option>{{ hailer.code }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary" name="btn_Save">
                            SaveData
                        </button>

                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Delivery Reference <input type="text" class="form-control" name="deliveryref"  placeholder="Delivery Reference">
                    </label>
                </div>
                <div class="form-group">
                    <label>
                        Vehcle Reg.<input type="text" class="form-control" name="vehiclereg" id="VehcleReg" placeholder="Vehcle Reg.">
                    </label>
                </div>
                <div class="form-group">
                      <input type="radio" class="form-check-input" id="radio_Inbound" name="status" value="INBOUND" checked>
                      <label class="form-check-label" for="InboundRadios">&nbspINBOUND</label>
                      <input type="radio" class="form-check-input" id="radio_Outbound" name="status" VALUE="OUTBOUND" >
                      <label class="form-check-label" for="OutboundRadios">&nbspOUTBOUND</label>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-check-input" name="haveTime" value="0" id="NotHaveSlotTime">
                    <label class="form-check-label" for="NotHaveSlotTime">&nbspHaven't Slot Time</label>
                </div>

                <div class="form-group">
                    <label class="control-label">Date</label>
                    <span class="controls input-append date form_date" data-date-format="dd MM yyyy" data-link-field="dtp_input2" >
                        <input type="date" name="workdate" id="PickingDate" max="3000-12-31" min="2020-08-01" class="form-control" value="{{ search_date }}">
                    </span>
                 </div>
                 <div class="form-group">
                    <label class="control-label">Slot Time</label>
                    <span class="controls input-append date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" >
                        <input type="Time" name="slottime" id="PickingTime" max="20:30" min="06:00"  class="form-control" value = "08:00" required>
                    </span>
                 </div>
            </form>
            <!-- 删除按钮 -->
            <!--
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-grid">
                            <br></br>
                            <label for="exampleInputEmail1">
                                Delete Delivery Ref.
                                <input type="text" class="form-control" id="DelDeliveryRef" placeholder="Delivery Reference">
                            </label>
                        </div>
                        <button type="buttom" class="btn btn-primary" name="btn_Delete">
                            Confirm Delete
                        </button>
                    </form>
                </div>
            </div>
            -->
        </div>
        <!-- 列出所有有时间的 slot -->
        <div class="col-md-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p class="text-muted ">{{ search_date|date:"d M" }}</P>
                        </th>
                        <th>
                            <p><span class="text-primary alert-info well-sm"> Inbound</span>
                            <span class="text-primary alert-success well-sm"> Outbound </span></p>
                        </th>
                        <th>
                            <p class="text-muted">Status</p>
                        </th>
                    </tr>
                </thead>
                <!-- 列出当前时间的所有 slot -->
                <tbody>
                    <tr>
                        <td class="col-md-2">06:00</td>
                        <td class="col-md-6>
                            {% for slottime in all_slots0600 %}
                                {% if slottime.status == 'INBOUND' %}
                                    <span class="alert-info well-sm">
                                {% else %}
                                    <span class="alert-success well-sm">
                                {% endif %}
                                <a href ="{% url 'slot:slot_Detail' slottime.deliveryref %}">
                                    {% if slottime.progress == 1 %}
                                        <span data-toggle="popover" title="{{ slottime.op_user }}">{{ slottime.deliveryref }}-Booked</span>
                                    {% endif %}
                                    {% if slottime.progress == 2 %}
                                        <span data-toggle="popover" title="{{ slottime.op_user }}">{{ slottime.deliveryref }}-Abnormal</span>
                                    {% endif %}
                                    {% if slottime.progress == 3 %}
                                        <span data-toggle="popover" title="{{ slottime.op_user }}">{{ slottime.deliveryref }}-Arrived</span>
                                    {% endif %}
                                    {% if slottime.progress == 4 %}
                                        <span data-toggle="popover" title="{{ slottime.op_user }}">{{ slottime.deliveryref }}-Loading</span>
                                    {% endif %}
                                    {% if slottime.progress == 5 %}
                                        <span data-toggle="popover" title="{{ slottime.op_user }}">{{ slottime.deliveryref }}-Finished</span>
                                    {% endif %}
                                </a>
                                </span>
                                </font>
                            {% endfor %}
                        </td>
                        <td class="col-md-2">
                            {% if all_slots0600.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>06:30</td>
                        <td>
                            {% for slottime in all_slots0630 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots0630.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>07:00</td>
                        <td>
                            {% for slottime in all_slots0700 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots0700.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>07:30</td>
                        <td>
                            {% for slottime in all_slots0730 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots0730.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>08:00</td>
                        <td>
                            {% for slottime in all_slots0800 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                    {% if slottime.progress == 1 %}
                                        {{ slottime.deliveryref }}-Booked
                                    {% endif %}
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots0800.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>08:30</td>
                        <td>
                            {% for slottime in all_slots0830 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots0830.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>09:00</td>
                        <td>
                            {% for slottime in all_slots0900 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots0900.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>09:30</td>
                        <td>
                            {% for slottime in all_slots0930 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots0930.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>10:00</td>
                        <td>
                            {% for slottime in all_slots1000 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1000.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>10:30</td>
                        <td>
                            {% for slottime in all_slots1030 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1030.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>11:00</td>
                        <td>
                            {% for slottime in all_slots1100 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1100.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>11:30</td>
                        <td>
                            {% for slottime in all_slots1130 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1130.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>12:00</td>
                        <td>
                            {% for slottime in all_slots1200 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1200.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>12:30</td>
                        <td>
                            {% for slottime in all_slots1230 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1230.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>13:00</td>
                        <td>
                            {% for slottime in all_slots1300 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1300.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>13:30</td>
                        <td>
                            {% for slottime in all_slots1330 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1330.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>14:00</td>
                        <td>
                            {% for slottime in all_slots1400 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1400.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>14:30</td>
                        <td>
                            {% for slottime in all_slots1430 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1430.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>15:00</td>
                        <td>
                            {% for slottime in all_slots1500 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1500.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>15:30</td>
                        <td>
                            {% for slottime in all_slots1530 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1530.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>16:00</td>
                        <td>
                            {% for slottime in all_slots1600 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1600.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>16:30</td>
                        <td>
                            {% for slottime in all_slots1630 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1630.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>17:00</td>
                        <td>
                            {% for slottime in all_slots1700 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1700.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>17:30</td>
                        <td>
                            {% for slottime in all_slots1730 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1730.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>18:00</td>
                        <td>
                            {% for slottime in all_slots1800 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1800.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>18:30</td>
                        <td>
                            {% for slottime in all_slots1830 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1830.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>19:00</td>
                        <td>
                            {% for slottime in all_slots1900 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1900.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>19:30</td>
                        <td>
                            {% for slottime in all_slots1930 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots1930.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>20:00</td>
                        <td>
                            {% for slottime in all_slots2000 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots2000.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                    <tr >
                        <td>20:30</td>
                        <td>
                            {% for slottime in all_slots2030 %}
                                <a href ="">
                                {% if slottime.status == 'INBOUND' %}
                                    <font color="Green">
                                {% else %}
                                    <font color="Blown">
                                {% endif %}
                                {{ slottime.deliveryref }}&nbsp;&nbsp;
                                </font></a>
                            {% endfor %}
                        </td>
                        <td>
                            {% if all_slots2030.count >= max_slot_number %}
                                <font color="Red">Full</font>
                            {% else %}
                                <font color="Green">Aviliable</font>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 列出所有没有时间的 slot -->
        <div class="col-md-4">
            {% if all_NoInSlotsTimes.count > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p class="text-muted">{{ search_date|date:"d-m-Y" }}</P>
                        </th>
                        <th>
                            <p class="text-muted">Inbound</P>
                        </th>
                        <th>
                            <p class="text-muted">No Slot Time</P>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       {% for NoSlotTime in all_NoInSlotsTimes %}
                           {% if forloop.counter >= 3 %}
                           {% if  forloop.counter0|divisibleby:3 %}
                                <tr>
                           {% endif %}
                           {% endif %}
                            <td>
                                <a href =""><font color="Black">{{ NoSlotTime.deliveryref }}</font></a>
                            </td>
                       {% endfor %}
                    </tr>
                </tbody>
            </table>
            <br></br>
            {% endif %}
            {% if all_NoOutSlotsTimes.count > 0 %}
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p class="text-muted">{{ search_date|date:"d-m-Y" }}</P>
                        </th>
                        <th>
                            <p class="text-muted">Outbound</P>
                        </th>
                        <th>
                            <p class="text-muted">No Slot Time</P>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       {% for NoSlotTime in all_NoOutSlotsTimes %}
                           {% if forloop.counter >= 3 %}
                           {% if  forloop.counter0|divisibleby:3 %}
                                <tr>
                           {% endif %}
                           {% endif %}
                            <td>
                                <a href =""><font color="Black">{{ NoSlotTime.deliveryref }}</font></a>
                            </td>
                       {% endfor %}
                    </tr>
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block  myscript %}
    <script>

    $(document).ready(function () {
        var time = new Date();
        var day = ("0" + time.getDate()).slice(-2);
        var month = ("0" + (time.getMonth() + 1)).slice(-2);
        var today = time.getFullYear() + "-" + (month) + "-" + (day);
        $('#PickingDate').val(today);
    })

    $(document).ready(function () {
        var time = new Date();
        var day = ("0" + time.getDate()).slice(-2);
        var month = ("0" + (time.getMonth() + 1)).slice(-2);
        var today = time.getFullYear() + "-" + (month) + "-" + (day);
        $('#SearchingDate').val(today);
    })
    </script>
{% endblock %}


