<div class="form">
    <form class="form-horizontal js-company-update-form" id="update_company_form"
          method="post" action="{% url 'flc:flc_company_update' form.instance.pk %}">
        <div class="modal-header">
            <button id="add_new_Company" type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Update Company</h4>
        </div>
        <br>
        <div class="modal-body">
            {% include 'flc_company/flc_company_form.html' %}
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary pull-left" >Update Company</button>
            <button type="button" id="btn-cancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>
